{% extends "base.html" %}

{% block metaKeywordsContent %}优酷,优酷精选,视频,视频分享,在线视频{% endblock %}
{% block metaDescriptionContent %}每日发布优酷网的精选内容。{% endblock %}

{% block menuMainPage %}<li class="current_page_item"><a href="/">主页</a></li>{% endblock %}

{% block content %}
    <!-- start content -->
    {% block banner %}{% endblock %}
    <div id="content">
        {% for video in object_list %}
            <div class="post">
                {% include "includes/video.html" %}
            </div>
        {% endfor %}
		{% if is_paginated %}{% load paginator %}{% paginator 3 %}{% endif %}
	</div>
    <!-- end content -->
{% endblock %}

{% block sidebar %}
	<div id="sidebar">
		<div class="sidebar">
			<h2>最新评论</h2>
			<ul>
				{% load truncatehanzi %}
				{% for comment in comments %}
                   <li><a href="/video/{{ comment.content_object.slug }}">{{ comment.comment|truncatehanzi:"15" }}</a></li>
            	{% endfor %}
			</ul>
		</div>
		<div class="sidebar">
			<h2>标签云</h2>
			<div class="tag_cloud">	
				{% load tag_cloud %}
				{% tag_cloud_for_model youku.Video as video_tags with steps=6 min_count=1 distribution=log%}
				{% for tag in video_tags %}
					<span class="tag-{{ tag.font_size }}"><a href="/tag/{{ tag.name }}/"> {{ tag.name }} </a></span>
				{% endfor %}
			</div>
		</div>
        {% if categories %}
        <div class="sidebar">
			<h2>视频分类</h2>
			<ul>
			{% for category in categories %}
            	<li><a href="/category/{{ category.0 }}">{{ category.1 }}</a></li>
            {% endfor %}
            </ul>
		</div>
        {% endif %}
		<div class="sidebar">
			<h2>订阅最新 &nbsp;&nbsp;&nbsp;<a href="http://feed.feedsky.com/bestyouku"><img border="0" src="http://img.feedsky.com/images/icon_sub_c1s14_d.gif" alt="feedsky" ></a>&nbsp;<a href="http://www.feedsky.com/msub_wr.html?burl=bestyouku"><img border="0" src="http://www.feedsky.com/images/icon_sub_mail_c1s1.gif" /></a></h2>
			<ul>
			<!-- Feedsky FEED发布代码开始 -->
			<!-- FEED自动发现标记开始 -->
			<link title="RSS 2.0" type="application/rss+xml" href="http://feed.feedsky.com/bestyouku" rel="alternate" />
			<!-- FEED自动发现标记结束 -->
			<a href="http://www.zhuaxia.com/add_channel.php?url=http://feed.feedsky.com/bestyouku" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_zhuaxia.gif" alt="&#25235;&#34430;" vspace="2" style="margin-bottom:3px" ></a>&nbsp;&nbsp;&nbsp;
			<a href="http://fusion.google.com/add?feedurl=http://feed.feedsky.com/bestyouku" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_google.gif" alt="google reader" vspace="2" style="margin-bottom:3px" ></a><br />
			<a href="http://www.xianguo.com/subscribe.php?url=http://feed.feedsky.com/bestyouku" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_xianguo.gif" alt="&#40092;&#26524;" vspace="2" style="margin-bottom:3px" ></a>&nbsp;&nbsp;&nbsp;
			<a href="http://reader.youdao.com/b.do?keyfrom=feedsky&url=http://feed.feedsky.com/bestyouku" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_youdao.gif" alt="&#26377;&#36947;" vspace="2" style="margin-bottom:3px" ></a><br />
			<a href="http://mail.qq.com/cgi-bin/feed?u=http://feed.feedsky.com/bestyouku" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_qq.gif" alt="QQ&#37038;&#31665;" vspace="2" style="margin-bottom:3px" ></a>&nbsp;&nbsp;&nbsp;
			<a href="http://9.douban.com/reader/subscribe?url=http://feed.feedsky.com/bestyouku" target="_blank"><img border="0" src="http://img.feedsky.com/images/icon_subshot01_douban.gif" alt="&#20061;&#28857;" vspace="2" style="margin-bottom:3px" ></a><br />
			<!-- Feedsky FEED发布代码结束 -->
			</ul>
		</div>
	</div>
{% endblock %}
