{% extends "base.html" %}

{% block title %}投递视频 - 优酷精选{% endblock %}

{% block menuPostVideo %}<li class="current_page_item"><a href="#">投递视频</a></li>{% endblock %}

{% block content %}
<div id="content">
    <div class="article">
    	<h3>请按照以下提示投递视频</h3>
        <form action="" method="post">{% csrf_token %}
        	<p>
				<label for="id_title">{{ form.title.label }} </label> {% if form.title.errors %} <span class="errors"> * {{ form.title.errors|join:", " }}</span> {% endif %} <br />
				<input id="id_title" type="text" name="title" {% if form.title.data %} value={{ form.title.data }} {% endif %} size="45" maxlength="100" />
			</p>
			<p>
				<label for="id_url">{{ form.url.label }} </label> {% if form.url.errors %} <span class="errors"> * {{ form.url.errors|join:", " }}</span> {% endif %} <br />
				<input type="text" name="url" id="id_url" {% if form.url.data %} value={{ form.url.data }} {% endif %} size="45" />
			</p>
			<p>
				<label for="id_tags">{{ form.tags.label }}(请用空格隔开多个标签) </label> {% if form.tags.errors %} <span class="errors"> * {{ form.tags.errors|join:", " }}</span> {% endif %} <br />
				<input id="id_tags" type="text" name="tags" {% if form.tags.data %} value={{ form.tags.data }} {% endif %} size="45" maxlength="100" />
			</p>
			<p>
				<label for="id_reason">{{ form.reason.label }} </label> {% if form.reason.errors %} <span class="errors"> * {{ form.reason.errors|join:", " }}</span> {% endif %} <br />
				{{ form.reason }}
			</p>
			<p class="submit"><input type="submit" value=" 确定 " /></p>
        </form>
    </div>
</div>
{% endblock %}