{% extends "base.html" %}

{% block metaKeywordsTitle %}用户投递的视频{% endblock %}
{% block metaKeywordsContent %}优酷,优酷精选,视频,视频分享,在线视频{% endblock %}
{% block metaDescriptionContent %}用户投递的视频。{% endblock %}

{% block content %}
    <!-- start content -->
    {% if user.is_staff %}
    <div id="content">
        {% for video in object_list %}
            <div class="post">
                <div class="title">
                    <h2>{{ video.title }}</h2>
                    <ul>
	                    <li><span style="color: blue">标签: </span>{{ video.tags }}</li>
	                    <li><span style="color: blue">地址: </span><a href={{ video.url }}>{{ video.url }}</a></li>
	                    <li><span style="color: blue">视频看点: </span>{{ video.reason|linebreaks }}</li>
	                    <li><span style="color: blue">投递时间: </span>{{ video.post_date }}</li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    	<div id="content">
	    	<div class="article">
	    	<h3>管理员页面</h3>
	    	<p>对不起, 您没有权限访问此页面.</p>
	    	</div>
    	</div>
    {% endif %}
    <!-- end content -->
{% endblock %}

{% block page_index %}
{% if is_paginated %}{% load paginator %}{% paginator 3 %}{% endif %}
{% endblock %}

