{% extends "base.html" %}

{% block title %}{{ video.title }} - 优酷精选{% endblock %}
{% block metaKeywordsContent %}{{ video.tags }}{% endblock %}
{% block metaDescriptionContent %}{{ video.title }}{% endblock %}

{% block content %}
	<script type='text/javascript'>
		$(document).ready(function(){
			$('.ajax_comment_button').hide()
		});
	</script>
    <div id="content">
        <div class="post">
            {% include "includes/video.html" %}
            {% include "includes/comment.html" %}
        </div>
    </div>
{% endblock %}