{% load i18n %}
{% load comments %}
											
<form id="post_comment" action="{% comment_form_target %}" method="post">{% csrf_token %}
    {% for field in form %}
        {% if field.is_hidden %}
            {{ field }}
        {% endif %}
    {% endfor %}
    <p><lable for="id_name">昵称/网名 (必填)*</label>
   	{% if form.name.errors %}
   		<span class="errors">{{ form.name.errors.as_text }}</span>
   	{% endif %}
   	<br />
   	<input type="text" name="name" id="id_name" {% if form.name.data %} value={{ form.name.data }} {% else %} {% if user.is_authenticated %} value={{ user.username }} {% endif %} {% endif %} /></p>
   	<p><lable for="id_email">电子邮件 (为您保密)*</label>
   	{% if form.email.errors %}
   		<span class="errors">{{ form.email.errors.as_text }}</span>
   	{% endif %}
   	<br />
   	<input type="text" name= "email" id="id_email" {% if form.email.data %} value={{ form.email.data }} {% else %} {% if user.is_authenticated %} value={{ user.email }} {% endif %} {% endif %} size="45" /></p>
	<p><lable for="id_url">个人网址 (可选)</label>
  	{% if form.url.errors %}
  		<span class="errors">{{ form.url.errors.as_text }}</span>
  	{% endif %}
  	<br />
  	<input type="text" name="url" id="id_url" {% if form.url.data %} value={{ form.url.data }} {% endif %} size="45" /></p>
  	<p><lable for="id_comment">评论内容 (必填)*</label>
  	{% if form.comment.errors %}
  		<span class="errors">{{ form.comment.errors.as_text }}</span>
  	{% endif %}
  	<br />
  	{{ form.comment }}</p>
    <p><input type="submit" name="submit" class="submit-post" value=" 提交 " /></p>
    <div id="post_status"></div>
</form>